@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    --black: #131722;
    --gray: #3F4955;
    --purple: #5966D9;
    --white: #F1F5F8;
    --textDim: rgba(229, 229, 229, 0.45);
    --bgHeader: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    background: var(--black);
    color: var(--white);
    font-weight: 400;
}

button {
    cursor: pointer;
    border: 0;
    background: transparent;
}
a {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    transition: 0.5s ease-in;
}
a:hover {
    text-decoration: 0.2rem dashed underline var(--purple);
}

.container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
}
header {
    background: var(--bgHeader);
    height: 8rem;
    padding-top: 1rem;
    border-bottom-left-radius: 20rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggler {
    font-size: 2rem;
}
.quantity-total {
    font-size: 1.35rem;
    color: var(--white);
    background: tomato;
    border-radius: 50%;
    display: inline-block;
    line-height: 1.6;
    font-weight: 600;
    width: 2rem;
    height: 2rem;
    transform: translate(-60%, -40%);

    filter: drop-shadow(0.01rem 0.15rem 0.1rem #bee);
}


.form {
    padding: 1rem;
    background: var(--gray);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transform: translateY(-2rem);
}
.form > * {
    margin: 0.5rem;
    padding: 0.75rem 1rem;
    border-radius: inherit;
    border: 0;
    background: var(--black);
    font-size: 1.6rem;
}
.form .title, .form .place {
    width: 22.5rem;
    color: var(--white);
}
.form label {
    font-size: 1.25rem;
    background: transparent;
    display: flex;
    align-items: center;
}
.form .fulltime {
    margin-right: 0.5rem;
}
.form .submit {
    background: var(--purple);
    color: var(--white);
}


.main {
    min-height: 50vh;
    margin-bottom: 1rem;
    display: grid;
    gap: 1.5rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.error {
    width: 100%;
    height: 100%;
    color: var(--white);
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 40rem;
    min-height: 10rem;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background: var(--gray);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.card-img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 1rem;
}
.toFav {
    font-size: 2rem;
}
.card-fulltime,
.card-company {
    font-size: 1.4rem;
    margin-left: 0.35rem;
    color: var(--textDim);
}
.card-title {
    font-weight: 600;
}
.card-location {
    color: var(--purple);
    font-weight: 500;
    margin-top: 1.5rem;
}



footer {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}
footer a {
    color: var(--purple);
}



.bookmark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    z-index: 999;
}
.show .bookmark-overlay {
    transform: translateX(0);
}
.bookmark {
    background: var(--gray);
    width: 100%;
    max-width: 40rem;
    min-height: 100vh;
    padding: 0.5rem 1.5rem;
    position: absolute;
    right: 0;
    overflow-y: scroll;
}
.bookmark-header {
    display: flex;
    justify-content: space-between;
}
.bookmark-close {
    background: tomato;
    color: var(--white);
    padding: 0 1rem;
    font-weight: 600;
    border-radius: 50%;
}
.bookmark-content {
    min-height: 60vh;
}
.bookmark-item {
    border-left: 0.5rem solid var(--black);
    padding: 0.25rem 0rem 0.25rem 1rem;
    margin: 0.5rem 0;
}
.bookmark-item-company {
    font-size: 1.3rem;
}
.bookmark-item-remove {
    background: var(--purple);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
}

.bookmark-clear {
    background: var(--purple);
    color: var(--white);
    padding: 1rem 2.5rem;
    display: inline-block;
    margin-left: 40%;
    font-size: 2rem;
    border-radius: 2rem;
}